@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*RICORDA: l'hover nel view si attiva su tutto l'elemento non solo sull'immagine*/
/*Dare altezza fissa a nav top in modo che quando l'altezza va sotto playlist le icone in basso spariscono*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #F9F9FA;
}

::-webkit-scrollbar-thumb {
    background: #C7C7C7;
    border: 3px solid #F9F9FA;
    border-radius: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    
}

.small-title {
    font-size: 16px;
}

.big-title {

}

.opacity {

}

.round {
    border-radius: 50%;
}

/*Main e wrapper*/
#wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.main-container {
    height: calc(100vh - 90px);
    display: flex;
    overflow: hidden;
}

/* Barra laterale a destra */
.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-section.top {
    overflow-y: hidden;
}

.main-nav {
    height: 100%;
    width: 50px;
    background-color: black;
}

.main-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-item-icon {
    width: 25px;
    color: #D1D1D1;
}

.main-nav .nav-item {
    margin: 3px 0;
    opacity: 80%;
}

#logo, #profile {
    opacity: 100%;
}

#logo-small {
    width: 30px;
    margin: 5px 0;
}

#download img {
    width: 15px;
    margin-bottom: 10px;
}

#profile img {
    background-color: #7F7F7F;
    height: 25px;
    width: 25px;
}

/*Main view*/
.main-view, .main-view-top {
    width: calc(100% - 50px);
}

.main-view {
    background-color: #1C1F26;
    overflow-y: scroll;
}

.main-view .main-view-top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    position: fixed;
}

.main-view .main-view-top header {
    text-align: center;
}

.main-view .main-view-top header a{
    position: absolute;
    top: 25px;
    right: 20px;
    border: 1px solid white ;
    padding: 10px 40px;
    border-radius: 20px;
}

.main-view .main-view-menu {
    margin-top: 90px;
}

.main-view .main-view-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-view .main-view-menu ul li {
    text-transform: uppercase;
    margin: 20px 15px;
}

.main-view .main-view-menu ul li a{
    color: #7B7D82;
}

.main-view .music-gallery-container {
    margin: 20px;
}

.main-view .music-gallery-container .big-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-view .music-gallery-container .big-title h2 {
    margin-bottom: 10px;
}

.main-view .music-gallery-container .small-text {
    color: #7B7D82;
}

.main-view .music-gallery-container .music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-view .music-gallery-container .music-container .music-item {
    width: calc(50% - 5px);
    margin: 5px 0;
    text-align: center;
}

.main-view .music-gallery-container .music-container .music-item img {
    width: 100%;
}

.main-view .music-gallery-container .music-container .music-item .music-title {
    margin: 10px 0;
}


/* Barra di riproduzione in basso */
.play-bar {
    width: 100%;
    height: 90px;
    background-color: #2C2C2C;
    bottom: 0;
}