@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #F9F9FA;
}

::-webkit-scrollbar-thumb {
    background: #C7C7C7;
    border: 3px solid #F9F9FA;
    border-radius: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.small-text {
    font-size: 12px;
}

.medium-text {

}

.small-title {

}

.big-title {

}

/*Main*/
.main-container {
    height: calc(100vh - 90px);
    display: flex;
}

/* Barra laterale a destra */
.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    height: 100%;
    width: 50px;
    background-color: black;
}

.main-nav nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-nav nav .nav-item-icon {
    width: 25px;
    color: #D1D1D1;
}

.main-nav nav .nav-item {
    margin: 3px 0;
    opacity: 80%;
}

#logo, #profile {
    opacity: 100%;
}

#logo-small {
    width: 30px;
    margin: 5px 0;
}

#download-icon {
    width: 15px;
    margin-bottom: 10px;
}

#profile-icon {
    background-color: #7F7F7F;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

/*Main view*/
.main-view, .main-view-top {
    width: calc(100% - 50px);
}

.main-view {
    background-color: #1C1F26;
    overflow-y: scroll;
}

.main-view .main-view-top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    position: fixed;
}

.main-view .main-view-top header a{
    position: absolute;
    top: 25px;
    right: 20px;
    color: white;
    border: 1px solid white ;
    padding: 10px 40px;
    border-radius: 20px;
}

.main-view .main-view-menu {
    margin-top: 90px;
}

.main-view .main-view-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-view .main-view-menu ul li {
    text-transform: uppercase;
    margin: 20px 15px;
}

.main-view .main-view-menu ul li a{
    color: #7B7D82;
}

/* Barra di riproduzione in basso */
.play-bar {
    width: 100%;
    height: 90px;
    background-color: #2C2C2C;
    bottom: 0;
}

